@charset "UTF-8";

#loadPage  {
  width: 100%;
  height: 100%;
}
/*音符初期スタイル*/
#loadPage #onpu1{
  margin-left: 40%;
  float: left;
}
#loadPage #onpu2{
  margin-left: 0;
  margin-top: 0px;
  float: left;
}
#loadPage #onpu3{
  margin-left: 0;
  margin-top: 0px;
  float: left;
}
#loadPage img{
  filter: blur(10px);
}

#loadPage .clear{
  clear: left;
}
