@charset "Shift_JIS";

#mainContents{
	width:100%;
	background-color:#fff;
	float:left;
}
#mainContents h2{
	width:90%;
	font-size:30px;
	font-family:'HG正楷書体-PRO',cursive;
	margin-top:70px;
	margin-left:60px;
	opacity:0;
	border-left:0px solid #9c9;
	border-bottom:1px dotted #9c9;
}

#mainContents #mainTitleContents{
	width:70%;
	margin-top:30px;
	margin-left:90px;
	opacity:0;
	line-height:200%;
}



.mainSection{
	width:60%;
	float:left;
	margin-top:30px;
	margin-bottom:40px;
	opacity:0;

}

.mainSection h1{
	font-size:30px;
	font-family:'HG正楷書体-PRO',cursive;
	margin-left:10px;
	margin-bottom:20px;
	border-left:10px solid orange;
	border-bottom:1px dotted orange;
	background-color:#ffff66;
	padding:3px;
}
.mainSection p{
	margin-left:30px;
	line-height:200%;
}
.mainSection .hai{
	float:left;
	margin:15px;
	padding:10px;
	border:#000 1px solid;
}
.mainSection table{
	margin:10px;
}

.mainSection table td{
	vertical-align:middle;
}
.mainSection h2{
	font-size:18px;
	margin:10px;
	font-weight:bolder;
	border-bottom:#bf7fff 3px dotted;
	margin-left:30px;
}
.mainSection p a{
	display:block;
	width:180px;
	height:40px;
	text-decoration:none;
	color:#000;
	background-color:#ffb74c;
	border-radius:10px;
	text-align:center;
	padding:10px 10px 0px 0px;
	margin:10px;
}
.mainSection p a:hover{
	background-color:#ffd96f;
}
.mainSection .second{
	margin-top:30px;
}
body{
	min-width:600px;
	background:-webkit-linear-gradient(bottom,#46b86d,#fff 30%);
	background:-mor-linear-gradient(bottom,#46b86d,#fff 30%);
	background:-o-linear-gradient(bottom,#46b86d,#fff 30%);
	background:linear-gradient(to top,#46b86d,#fff 30%);
}


#subSection{
	float:left;
	width:300px;
	padding-left:60px;
	margin-top:50px;
	opacity:0;
}
#subSection li{
	color:blue;
	width:240px;
	cursor:pointer;
}
#subSection li:hover{
	color:#9393ff;
}
#subSection #hrefHai{
	border-left:lightskyblue 10px solid;
}



#toPageTop {
}
#toPageTop a{
	display:block;
	width:60px;
	height:60px;
	border-radius:50px;
	position:fixed;
	bottom:60px;
	right:30px;
	text-decoration:none;
	color:#fff;
}
#toPageTop img{
	width:60px;
	height:60px;
}
#toPageTop img:hover{
	opacity:0.8;
}

#subSection h1{
	width:250px;
	font-size:25px;
	font-family:'HG正楷書体-PRO',cursive;
	border-left:10px solid #63c;
	border-bottom:1px dotted #63c;
	background-color:#ccccff;
	padding:3px;
}
#subSection ul li{
	margin:15px;
	border-left:lightskyblue 0px solid;
}

.tehai{
	width:500px;
	margin-left:50px;
	margin-top:10px;
	margin-bottom:10px;
	padding:10px;
	border:#000 1px solid;
}
.tehai h3{
	margin-bottom:5px;
	font-weight:bolder;
}

#bodyDiv{
	height:auto;
}
