@charset "UTF-8";

#mainContents{
	width:100%;
	background-color:#fff;
	float:left;
}
#mainContents h2{
	width:90%;
	font-size:30px;
	font-family:'HG正楷書体-PRO',cursive;
	margin-top:70px;
	margin-left:60px;
	opacity:0;
	border-left:0px solid #9c9;
	border-bottom:1px dotted #9c9;
}

#mainContents #mainTitleContents{
	width:70%;
	margin-top:30px;
	margin-left:90px;
	opacity:0;
	line-height:200%;
}




body{
	min-width:600px;
	background:-webkit-linear-gradient(bottom,#46b86d,#fff 25%);
	background:-mor-linear-gradient(bottom,#46b86d,#fff 25%);
	background:-o-linear-gradient(bottom,#46b86d,#fff 25%);
	background:linear-gradient(to top,#46b86d,#fff 25%);
}



#toPageTop {
}
#toPageTop a{
	display:block;
	width:60px;
	height:60px;
	border-radius:50px;
	position:fixed;
	bottom:60px;
	right:30px;
	text-decoration:none;
	color:#fff;
}
#toPageTop img{
	width:60px;
	height:60px;
}
#mainSection{
	opacity:0;
	margin-left:60px;
}

#mainContents p a{
	display:block;
	width:180px;
	height:40px;
	text-decoration:none;
	color:#000;
	background-color:#ffb74c;
	border-radius:10px;
	text-align:center;
	padding:10px 10px 0px 0px;
}
#mainContents p a:hover{
	background-color:#ffd96f;
}

#mainSection table{
	float:left;
	margin:50px;
}
#mainSection caption{
	margin-bottom:20px;
	font-size:25px;
	font-family:'HG正楷書体-PRO',cursive;
	border-left:20px solid orange;
	border-right:20px solid orange;
	background-color:#ffff66;
	padding:3px 0;
}
#mainSection td{
	border:#000 1px solid;
	border-collapse:collapse;
	padding:8px;
	font-size:15px;
	text-align:center;
	vertical-align:middle;
	background-color:#fff;
}

#mainSection .tableHand{
	background-color:#9eceff;
}
#mainSection .tableNumber{
	background-color:#9eceff;
}
#mainSection .tableMainCell{
	background-color:#9e9eff;
}
#mainSection .mangan{
	color:blue;
}

#mainSection #fukeisan{
	width:90%;
	font-size:30px;
	font-family:'HG正楷書体-PRO',cursive;
	margin-top:70px;
	margin-left:20px;
	border-left:10px solid #9c9;
	border-bottom:1px dotted #9c9;
	clear:left;
}
#mainSection p{
	width:70%;
	margin-top:30px;
	margin-left:30px;
	line-height:200%;
}

#mainSection #fuTable{
	float:left;
	margin:50px;
}
#mainSection #fuTable caption{
	margin-bottom:20px;
	font-size:25px;
	font-family:'HG正楷書体-PRO',cursive;
	border-left:20px solid orange;
	border-right:20px solid orange;
	background-color:#ffff66;
	padding:3px 0;
}
#mainSection #fuTable td{
	width:200px;
	border:#000 1px solid;
	border-collapse:collapse;
	padding:8px;
	font-size:15px;
	text-align:center;
	vertical-align:middle;
	background-color:#fff;
	line-height:150%;
}
#mainSection #fuTable th{
	border:#000 1px solid;
	border-collapse:collapse;
	padding:8px;
	font-size:15px;
	text-align:center;
	vertical-align:middle;
}
#mainSection #fuTable .fuCell{
	background-color:#9eceff;
}

#mainSection #fuTable #fuCellTotal{
	background-color:#ffff7f;
}
#mainSection #fuTable #fuCellEx{
	background-color:#ffbf7f;
}
